body {background-color: powderblue;}
h3   {color: black;
    font-size: 300%;
  overflow-x: hidden;

   padding:10px; 
   margin:0px; 
span {background-color: powderblue;
    color: black;
    font-size: 200%;
  overflow-x: hidden;

   padding:10px; 
   margin:0px}
   h1   {color: black;
    font-size: 500%;
  overflow-x: hidden;

   padding:100px; 
   margin:10px; 
}

}